.solutions-section {
    background-color: #fff;
    .section-label {
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    .section-heading {
        font-size: 2rem;
        line-height: 1.3;
        color: #000;
        @media (min-width: 576px) {
            font-size: 2.2rem;
        }
        @media (min-width: 768px) {
            font-size: 2.5rem;
        }
        @media (min-width: 992px) {
            font-size: 2.8rem;
        }
    }
}